
<section>
  <h2>contact</h2>
  <p>
    Holy Water in jouw restaurant, bar of slijterij verkopen? Bel ons, of stuur een mailtje.
  </p>
  <div class="contact">
    <a href="tel:06 19 720 537">06 19 720 537</a><br>
    <a href="mailto:jesse@holywater.church">jesse@holywater.church</a>
    <br><br>
  </div>
</section>
