
<section id="contact"> 
  <h2>Contact</h2>
  <p>
    Ook proeven en proosten met Holy Water in jouw restaurant, bar of slijterij?<br>Bel Jesse, of stuur een mailtje.
  </p>
  <div class="contact">
    <a href="tel:06 19 720 537">06 19 720 537</a><br>
    <a href="mailto:jesse@holywater.church">jesse@holywater.church</a>
    <br><br>
  </div>
</section>
