---
title: HOLY WATER ☩ A Mean Spirit
---

<div>
  <%= image_tag "holywater_h.png", class: "logo" %>
  <header>
    <h1>HOLY WATER</h1>
  </header>
  <section>
      <strong>HOLY WATER</strong> is a one-shot Gin from the Netherlands. Distilled at Mr. Mofongo's. Hand-bottled in Groningen.
  </section>
  <%= image_tag("gingredients.jpg") %>
  <section>
    <p>
      Holy Water Gin is Groningens eigen gin. Opgericht door een groep vrienden met een gezonde dosis eigengereidheid. De passie voor kwaliteit en de voorliefde voor authenticiteit leidden tot een gin die past bij de stad Groningen: Eigenzinnig en vol karakter.
    </p>
  </section>
  <br>
  <%= image_tag("botanicals.jpg") %>

</div>
